body {
    align-content: center;
    text-align: center;
    font-family: 'Lobster', cursive;
}

#crystals {
align-content: center;
}

.bigred {
    font-size: 28px;
    color: red;
}

h1 {
    font-size: 60px;
    margin: 20px;
}